<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
</head>

<body>
  <h1>AUTO PLANT WOO</h1>
  <h2>Current Date: {{ time }}</h2>
  <h2> {{ text }} </h2>
  <a href="/photo"><button>Take Photo</button></a>
  <br>
  <img src="/image" alt="myplant" width="400" height="320"> 
  <img src="/graph_image" alt="Data" width="400" height="400"> 

  <br>
  <a href="/sensor1"><button>Check Soil Status</button></a>
  <a href="/sensor2"><button>Check Light Level</button></a>
  <a href="/water"><button>Water Once</button></a>
  <br>
  <a href="/rotate"><button>Rotate Plant</button></a>
  <a href="/lightscan"><button>Rotate Plant to Brightest</button></a>
  <br>
  <a href="/loop"><button>Run Loop</button></a>
  <a href="/endloop"><button>End Loop</button></a>
  <br>
  <a href="/update_graph"><button>Update Data Graph</button></a>
  <br>
  
</body>
</html>
